p, a {font-size: 24px;}

h1, h2, h3, h4, p, a {color: #414241;}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

html {
  font-family: 'Raleway', sans-serif;
}

/**/

.lamp {
  background-image: url("../img/bigger-lamp.png");
}

.lamp h2 {
  color: #fff;
}

.flex .selected {
  color: #FFB130;
}

.background {
  background-color: rgba(0,0,0,0.8);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex h3 {
  font-weight: bold;
  color: #fff;
} 

.flex p {
  color: #fff;
}

.products h1 {
  font-weight: 300;
  font-size: 100px;
  line-height: 125px;
}

.products h2 {
  font-weight: 300;
}

.products .text {
  flex: 1; 
  width: 100%;
  min-width: 720px;
  max-width: 800px;
  background-color: #FFB130;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products .call-to-action {
  padding: 16px 0;
  display: flex;
  align-items: center;
}

.products .call-to-action img {
  margin-left: 8px;
}

.products .call-to-action a::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background: #414241;
  transition: all .1s;
}

.products .call-to-action a:hover::after {
  width: 100%;
}

.eletric {
  background-image: url("../img/lampada.png");
  background-position-y: top;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.eletric .front {
  background-image: url('../img/top-right.svg');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: left;
  content: " ";
  flex: 1;
  background-size: cover;
  height: 100vh;
}

.hidraulic {
  background-image: url("../img/maquina-hidraulica.png");
  background-position-y: top;
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.hidraulic h1 {
  text-align: right;
}

.hidraulic .front {
  background-image: url('../img/bottom-left.svg');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  content: " ";
  flex: 1;
  background-size: cover;
  height: 100vh;
}

.spda {
  background-image: url("../img/raio.png");
  background-position-y: top;
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.spda h1 {
  text-align: right;
}

.spda .front {
  background-image: url('../img/top-left.svg');
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
  content: " ";
  flex: 1;
  background-size: cover;
  height: 100vh;
}

.fire {
  background-image: url("../img/extintor.png");
  background-position-y: bottom;
  background-position-x: right;
  background-repeat: no-repeat;
  display: flex;
  background-size: cover;
}

.fire .front {
  background-image: url('../img/bottom-right.svg');
  background-repeat: no-repeat;
  background-position-x: left;
  content: "";
  flex: 1;
  background-size: cover;
  height: 100vh;
}


/** end of this section **/

.project-background {
  background-image: url("../img/regua.png");
  background-position-y: top;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 611px;
}

.project-flex {
  display: flex;
  justify-content: space-between;
}

.project h1 {
  max-width: 496px;
  margin-top: 20%;
  color: #fff;
}

.project p {
  font-family: 'Ubuntu', sans-serif;
  text-align: right;
  margin-top: 25%;
  color: #fff;
}


.social {
  background-image: url("../img/social.png");
  background-position-y: top;
  background-position-x: left;
  background-repeat: no-repeat;
  display: flex;
}

.social h1 {
  text-align: right;
}

.social .front {
  background-image: url('../img/social-triangle.svg');
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
  content: " ";
  flex: 1;
  height: 100vh;
}