@import url('default.css');

@keyframes show-background {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-product {
  0% {
    margin-top: 20px;
    opacity: 0.8;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes slide-to-position {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  50% {

  }
  75% {

  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

header .carousel {
  width: 100%;
  height: calc(100vh - 78px - 10px);
  position: relative;
  display: flex;
  justify-content: space-between;
}

header .carousel li.selected-slide {
  width: 100%;
  height: calc(100vh - 78px - 10px);
  min-height: 560px;
  position: absolute;
  z-index: 1;
}

header .carousel .slide {
  display: flex;
}

header .carousel .slide .content {
  flex: 1;
}

header .carousel .slide button {
  background: transparent;
  border: 0;
}

header .carousel .slide button img {
  width: 40px;
}

header .carousel #slide1 {
  background: url("../img/slide-tudo.jpg") no-repeat;
  background-size: cover;
  animation: show-background 1s;
}

header .carousel #slide2 {
  background: url("../img/slide-eletrica.jpg") no-repeat;
  background-size: cover;
  animation: show-background 1s;
  display: none;
}

header .carousel #slide3 {
  background: url("../img/slide-hidraulica.jpg") no-repeat;
  background-size: cover;
  animation: show-background 1s;
  display: none;
}

header .carousel #slide4 {
  background: url("../img/slide-spda.jpg") no-repeat;
  background-size: cover;
  animation: show-background 1s;
  display: none;
}

header .carousel #slide5 {
  background: url("../img/slide-combate-incendio.jpg") no-repeat;
  background-size: cover;
  animation: show-background 1s;
  display: none;
}

header .carousel #slide6 {
  background: url("../img/gas-imagem.jpg") no-repeat;
  background-size: cover;
  animation: show-background 1s;
  display: none;

}

header .carousel .content {
  width: calc(100% - 144px);
  height: calc(100vh - 78px - 10px - 100px);
  min-height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 32px 0 16px;
  text-align: left;
  animation: slide-to-position 1s;
}

header .carousel .content h1,
header .carousel .content h2,
header .carousel .content p {
  color: var(--off-color);
}

header .carousel .content h1 {
  font-size: 72px;
  font-weight: bold;
  margin: 0 0 16px 0;
}

header .carousel .content h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0  0 16px 0;
}

header .carousel .content p {
  font-size: 1.5em;
  line-height: 200%;
}

header .carousel .content a {
  margin-top: 50px;
  font-size: 24px;
  background-color: var(--primary-color);
  color: var(--off-color);
  padding: 24px 100px;
  border-radius: 3px;
  max-width: 600px;
  text-align: center;
}

header .carousel .indicators {
  z-index: 2;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 32px 0 16px;
}

header .carousel .indicators button {
  background: var(--off-color);
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .2s;
}

header .carousel .indicators button + button {
  margin-left: 16px;
}

header .carousel .indicators button.selected {
  background-color: var(--primary-color);
}

header .carousel .controllers {
  width: 100%;
  height: calc(100vh - 78px - 10px);
  position: absolute;
  display: flex;
  justify-content: space-between;
}

header .carousel .controllers button {
  background: transparent;
  border: none;
  padding: 0 16px;
}

header .carousel .controllers button:hover {
  cursor: pointer;
}

header .carousel .controllers button img {
  width: 40px;
}

header .carousel .carousel-content {
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 3;
}

main section.products {
  background: url("../img/lampada.jpg") no-repeat;
  background-size: cover;
  height: 600px;
  padding: 100px 0;
}

main section.products h2 {
  color: var(--off-color);
  text-transform: uppercase;
  font-size: 40px;
}

main section.products .selector {
  width: 100%;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

main section.products .selector .titles h3 {
  text-transform: uppercase;
  cursor: pointer;
  transition: color .2s;
}

main section.products .selector .titles h3:hover {
  color: var(--primary-color);
}

main section.products .selector .titles h3.selected {
  color: var(--primary-color);
}

main section.products .selector .titles h3 + h3 {
  margin-top: 20px;
}

main section.products .selector .titles h3,
main section.products .selector .contents p,
main section.products .selector .contents li {
  color: var(--off-color);
}

main section.products .selector .contents .hidraulica,
main section.products .selector .contents .spda,
main section.products .selector .contents .combate-incendio {
  display: none;
}

main section.products .selector .contents ul {
  width: 400px;
  animation: show-product .5s;
}

main section.products .selector .contents li {
  font-size: 20px;
}

main section.products .selector .contents li + li {
  margin-top: 16px;
}

main section.products .all-products {
  height: 100px;
  margin-top: 40px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

main section.products .all-products:hover {
  text-decoration: underline;
}

main section.hero {
  height: 750px;
  width: 100%;
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  position: relative;
}

main section.hero .content {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

main section.hero .content h2 {
  font-size: 100px;
  text-transform: uppercase;
  width: 500px;
  line-height: 130%;
}

main section.hero .content a {
  height: 100px;
  margin-top: 20px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--secondary-color);
}

main section.hero .content a:hover {
  text-decoration: underline;
}

main section.hero .image {
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  content: " ";
  position: absolute;
}

main section.hero .cover {
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  content: " ";
}

main section.hero.eletric .image {
  background: url("../img/lampada-pequena.jpg");
  right: 0;
}

main section.hero.eletric .image .cover {
  background: url("../img/top-right.svg");
}

main section.hero.hidraulic .content {
  align-items: flex-end;
}

main section.hero.hidraulic .content h2 {
  width: 600px;
  text-align: right;
}

main section.hero.hidraulic .image {
  background: url("../img/maquina-hidraulica.png");
  left: 0;
  bottom: 0;
}

main section.hero.hidraulic .image .cover {
  background: url("../img/bottom-left.svg");
}

main section.hero.spda .content {
  align-items: flex-end;
}

main section.hero.spda .content h2 {
  width: 600px;
  text-align: right;
}

main section.hero.spda .image {
  background: url("../img/raio.png");
  left: 0;
  top: 0;
}

main section.hero.spda .image .cover {
  background: url("../img/top-left.svg");
  position: absolute;
  background-position: bottom left;
}

main section.hero.fire .content h2 {
  width: 600px;
}

main section.hero.fire .image {
  background: url("../img/extintor.png");
  height: 600px;
  width: 600px;
  right: 0;
  bottom: 0;
}

main section.hero.fire .image .cover {
  background: url("../img/bottom-right.svg");
  height: 600px;
  width: 600px;
}

main section.hero.social .content {
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 200px;
}

main section.hero.social .content h2 {
  text-align: right;
  font-size: 48px;
  margin-bottom: 40px;
  width: 1200px;
}

main section.hero.social .content p {
  font-size: 26px;
  max-width: 710px;
  line-height: 150%;
}

main section.hero.social .content p em {
  font-style: normal;
  font-weight: bold;
}

main section.hero.social .image {
  background: url("../img/social.png");
  left: 0;
  top: 0;
}

main section.hero.social .image .cover {
  position: absolute;
  background: url("../img/top-left.svg") bottom left;
}

main section.contact {
  height: 100%;
  background-color: var(--secondary-color);
  color: var(--off-color);
  padding-top: 80px;
}

main section.contact h2 {
  width: 100%;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
}

main section.contact .divisor {
  width: 60px;
  height: 6px;
  margin: 20px auto;
  background-color: var(--primary-color);
}

main section.contact .content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

main section.contact .content > div > a {
  color: var(--off-color);
}

main section.contact .content > div a {
  display: flex;
  flex-direction: column;
}

main section.contact .content img {
  margin-bottom: 20px;
}

main section.contact .content span {
  font-size: 18px;
  margin: 0 auto 20px auto;
}

main section.contact .content p {
  font-size: 24px;
  color: var(--off-dark-color);
  margin: 0 auto 50px auto;
}

@media (max-width: 980px) {

  .container {
    max-width: 600px;
  }

  header .carousel {
    display: none;
  }

  main section.products h2, main section.products h3 {
    text-align: center;
  }

  main section.products h3 {
    margin-bottom: 30px;
  }

  main section.products li, main section.products a {
    margin: 20px auto;
    text-align: center;
    list-style: none;
  }
  
  main section.products .selector {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cover {
    display: none;
  }

  main section.hero {
    background: none;
  }

  main section.hero.eletric .image,
  main section.hero.hidraulic .image,
  main section.hero.spda .image,
  main section.hero.fire .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
 }

  main section.hero .content h2,
  main section.hero .content a,
  main section.hero .content p {
    color: #fff;
  }

  main section.hero.eletric .content h2, main section.hero.fire .content h2, main section.hero.eletric .content a, main section.hero.fire .content a {
    margin: 0 auto;
    text-align: center;
  }

  main section.hero.hidraulic .content h2, main section.hero.spda .content h2, main section.hero.hidraulic .content a, main section.hero.spda .content a {
    margin: 0 auto;
    text-align: center;
  }

  main section.project .container,
  main section.company .container {
    flex-direction: column;
    height: 100%;
  }

  main section.project .container > div,
  main section.company .container > div {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  main section.project h2, main section.project p,
  main section.company h2, main section.company p {
    margin: 0 auto;
    text-align: center;
  }

  main section.project h2,
  main section.company h2 {
    font-size: 100px;
    text-transform: uppercase;
    color: var(--off-color);
    line-height: 100%;
    padding-top: 80px;
  }
  
  main section.project p,
  main section.company p {
    color: var(--off-color);
    line-height: 150%;
    padding-bottom: 80px;
  }

  main section.hero.social .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  main section.hero.social .content p{
    margin: 0 auto;
  }

  main section.hero.social .content h2 {
    text-align: center;
    margin: 20px auto;
  }

  main section.contact .content {
    display: flex;
    flex-direction: column;
  }

  .menu-background {
    height: 100px;
    background-color: var(--primary-color);
  }

  .footer a {
    font-size: 18px;
  }

  .col-two-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-network {
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
    padding-bottom: 30px;

  }

}

@media (max-width: 750px) {

  .container {
    max-width: 300px;
  }

  header .menu {
    flex-direction: column;
  }

  header .menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 200%;
  }

  header .menu img {
    margin-bottom: 20px;
  }

  header .menu nav a + a {
    margin-left: 0;
  }
 
  main section.hero.eletric h2,
  main section.hero.hidraulic h2,
  main section.hero.spda h2,
  main section.hero.fire h2 {
    font-size: 40px;
    max-width: 300px;
  }
  

  main section.project h2,
  main section.company h2 {
    font-size: 50px;
    text-transform: uppercase;
    color: var(--off-color);
    line-height: 100%;
    padding-top: 80px;
  }
  
  main section.project p {
    font-size: 30px;
    color: var(--off-color);
    line-height: 150%;
    padding-bottom: 80px;
  }

  main section.company p {
    font-size: 18px;
    color: var(--off-color);
    line-height: 150%;
    padding-bottom: 80px;
  }

  main section.hero.social .content h2 {
    max-width: 300px;
    font-size: 30px;
  }

  main section.hero.social .content p {
    max-width: 80%;
    font-size: 12px;
  }

  main section.hero.social .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  main section.contact h2 {
    font-size: 30px;
  }

  .balloon {
    display: none;
  }

  main section.more p a{
    font-size: 18px;
  }

  main section.more p {
    font-size: 18px;
  }

  main section.company h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--off-color);
    line-height: 200%;
  }
}
